@import url('https://fonts.googleapis.com/css2?family=Delius&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Delius&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*color: #380046;*/
body {
	font-family: 'Delius', sans-serif;
	font-size: 16px;
	background-color: #161513;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

header {
	background-color: #222222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 20rem;
	font-size: 0.8rem;
	position: relative;
}

header h1 {
	color: white;
	position: relative;
	transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

header h1:hover {
	color: transparent;
	transform: scale(1.1);
}

header h1::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

header h1:hover::before {
	content: 'Alexander';
	color: #71008d;
	opacity: 1;
}

header ul {
	display: none;
	list-style: none;
	gap: 2rem;
	flex-wrap: wrap;
}

header ul a {
	text-decoration: none;
	color: white;
	font-size: 1em;
	display: inline-block;
	transition: color 0.2s ease-in-out, transform 0.5s ease-in-out;
}

header ul a:hover {
	color: #71008d;
	transform: scale(1.2);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .intro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .profile-pic {
	margin-top: 6.25rem;
	width: 213px;
	height: 213px;
	border-radius: 50%;
}

main h1 {
	color: white;
	margin-top: 2rem;
	text-align: center;
	font-size: 2rem;
}

main h1 span {
	background: linear-gradient(90deg,rgba(170, 0, 255, 1) 0%, rgba(58, 0, 92, 1) 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2rem;
}

main .intro p {
	color: gray;
	text-align: center;
	margin-top: 2rem;
	font-size: 1rem;
	max-width: 50%;
	background-color: #1a1a1a;
	padding: 1rem;
	border-radius: 25px;
}

main .divider {
	color: gray;
	text-align: center;
	margin-top: 2rem;
	font-size: 1rem;
	max-width: 50%;
}

.buttons {
	display: flex;
	gap: 2rem;
	margin: 2rem 0rem;
}

main .btn-primary {
	font-family:Arial, Helvetica, sans-serif;
	background-color: white;
	text-decoration: none;
	color: black;
	padding: 0.75rem 1.5rem;
	border-radius: 25px;
	font-weight: 550;
	font-size: 1.1rem;
	font-style: bold;
	transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
	border: 1px solid transparent;
}

main .btn-secondary {
	font-family:Arial, Helvetica, sans-serif;
	background-color: transparent;
	text-decoration: none;
	color: white;
	padding: 0.75rem 1.5rem;
	border-radius: 25px;
	font-weight: 550;
	font-size: 1.1rem;
	font-style: bold;
	border: 1px solid white;
	transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

main .btn-primary:hover {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

main .btn-secondary:hover {
	background-color: white;
	color: black;
	border: 1px solid white;
}

main .skills-icons {
	margin-top: 3rem;
	display: flex;
	align-items: center;
	background-color: #1a1a1a;
	border-radius: 50px;
	padding: 10px 20px;
}

main .skills-icons img {
	width: auto;
	height: 100px;
	filter: grayscale(100%);
	transition: filter 0.3s ease-in-out;
}

main .skills-icons .img-alt {
	height: 80px;
	width: auto;
	margin-left: 0.5rem;
}

main .skills-icons img:hover {
	filter: none;
}

main .project-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin: 3rem 0rem;
	background-color: #1a1a1a;
	border-radius: 25px;
	padding: 1.5rem;
}

main .project-card {
	width: 20rem;
	height: 20rem;
	border-radius: 15px;
	overflow: hidden;
	background-color: #2A2A2A;
	transition: transform ease-in-out 0.2s;
}

main .project-card:hover {
	transform: scale(1.025);
}

main .project-card .bannerimg{
	width: 100%;
	height: 50%
}

main .project-card .bannerimgalt{
	width: 100%;
	height: fit-content
}

main .project-card h2 {
	color: white;
	padding: 0.5rem 1rem;
}

main .project-card p {
	color: antiquewhite;
	padding: 0.5rem 1rem;
}

main .cardcontent {
	display: flex;
}

main .arrowimg {
	padding-right: 20px;
}

main .project-section h1 {
	font-size: 3rem;
	background: linear-gradient(180deg,rgb(255, 136, 0) 25%, rgb(173, 84, 0) 75%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

main .experience-section h1 {
	font-size: 3rem;
	background: linear-gradient(180deg, rgb(0, 136, 255) 25%, rgb(0, 84, 173) 75%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

main .experience-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

main .first-experience {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	background-color: #1a1a1a;
	border-radius: 25px;
	padding: 2rem;
	max-width: 50rem;
	width: 90%;
	justify-content: center;
}

main .experience-section h2 {
	color: white;
}

main .experience-section .exptext {
	color: gray;
	font-size: 0.9rem;
	word-wrap: break-word;
	text-align: center;
	max-width: 85%
}

main .experience-section p {
	color: gray;
}

main .expheader {
	display: flex;
	align-items: center;
	gap: 8rem;
}

footer {
	background-color: #1a1a1a;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
}

footer .footerinfo {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	margin-left: 5rem;
	color: white;
	gap: 1rem;
	margin-bottom: 3rem;
}

footer .footerboxes form{
	margin-left: 5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

footer .footerboxes input {
	padding: 0.5rem;
	border-radius: 25px;
	background-color: #1a1a1a;
	border: 2px solid #525252;
	width: 35%;
	color: white;
}

footer .footerboxes input::placeholder {
	color: rgb(201, 201, 201);
}

footer .footerboxes textarea {
	padding: 1rem;
	border-radius: 25px;
	background-color: #1a1a1a;
	border: 2px solid #525252;
	width: 35%;
}

footer .footerboxes textarea::placeholder {
	vertical-align: bottom;
	text-align: top;
	color: rgb(201, 201, 201);
}

footer .btn-primary {
	display: block;
	background: linear-gradient(180deg, rgb(0, 136, 255) 25%, rgb(0, 84, 173) 75%);
	max-height: 10%;
	color: white;
	text-decoration: none;
	border-radius: 15px;
	padding: 1rem;
	margin-left: 5rem;
	margin-top: 1rem;
	font-size: 0.8rem;
	margin-bottom: 3rem;
	width: fit-content
}

.menu-toggle {
	display: block;
	color: white;
	font-size: 1.5rem;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.menu-toggle:hover {
	transform: scale(1.2);
}

.menu {
	display: flex;
}

.menu ul {
	display: flex;
	list-style: none;
	gap: 2rem;
	flex-wrap: wrap;
}

.project-cards a {
	text-decoration: none;
}

.linkssec {
	width: 80px;
	height: 80px;
	margin-top: 1rem;
	filter: grayscale(100%);
	transition: filter 0.1s ease-in-out;
	filter: invert(1);
}

.linkssec:hover {
	filter: invert(25%);
}

/* Responsive Design */
/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
	header {
		padding: 0.5rem 1rem;
		gap: 1rem;
		width: 100%;
	}
	.menu {
		display: none;
	}
	.menu.active {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #222222;
		padding: 1rem 0;
	}
	.menu.active ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
	}
	header ul a {
		font-size: 1rem;
	}
	main .skills-icons img {
		width: 60px;
		height: 60px;
	}
	main .skills-icons .img-alt {
		width: 60px;
		height: 60px;
	}
	main .project-card {
		width: 15rem;
		height: 15rem;
	}
	main .project-cards {
		padding: 0.5rem;
		max-width: calc(100vw - 5rem);
		font-size: 12px;
	}
	main .btn-primary {
		padding: 0.75rem;
		font-size: 0.9rem;
		width: fit-content;
		height: fit-content;
	}
	main .btn-secondary {
		padding: 0.75rem;
		font-size: 0.9rem;
		width: fit-content;
		height: fit-content;
	}
	main .project-cards {
		font-size: 11px;
	}
	main .expheader {
		gap: 2rem;
	}
	footer .footerboxes input {
		width: 50%;
	}
	footer .footerboxes textarea {
		width: 75%;
	}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	header {
		padding: 0.5rem 3rem;
	}
	main .project-cards {
		padding: 1rem;
		max-width: calc(100vw - 3em);
	}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	header ul {
		display: flex;
	}
	.menu-toggle {
		display: none;
	}
	.menu.active {
		display: none;
	}
	.hamburger.active {
		display: block;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	main .project-cards {
		padding: 0.5rem;
		max-width: calc(100vw - 20rem);
	}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	header {
		padding: 0.5rem 20rem;
	}
	
}
/* Extra Extra Large devices, 4K */
@media only screen and (min-width: 2560px) {
	html {
		font-size: 30px;
	}
	main .skills-icons img {
		width: auto;
		height: 150px;
	}
	main .project-cards {
		font-size: 30px;
	}
	main .project-card:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
}